@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;

.root {
  padding: fluid-rem(0.5rem, 2rem);
  padding-inline-start: fluid-rem(0.5rem, 2.75rem);
  border-radius: 0.4375rem;
  background: var(--color-sys-surface-1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: fluid-rem(1rem, 5rem);

  @include media(md) {
    .contentWrapper,
    .content,
    .publishingDetails {
      display: contents;
    }

    .title {
      grid-area: title;
    }

    .media {
      grid-area: media;
    }

    .topics {
      grid-area: topics;
    }

    .author {
      grid-area: author;
      justify-self: end;
    }

    .publishDate {
      grid-area: publishDate;
    }

    .readingTime {
      grid-area: readingTime;
      justify-self: end;
    }

    .shareButton {
      grid-area: share;
      max-width: unset;
    }

    .breadcrumbs {
      grid-area: breadcrumbs;
    }

    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "breadcrumbs breadcrumbs"
      "title title"
      "media media"
      "topics author"
      "publishDate readingTime"
      "share share";
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.media {
  border: 1px solid hsl(var(--color-black-500));
  border-radius: 0.5rem;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.breadcrumbs {
  padding-inline: 0;
}

.publishingDetails {
  display: flex;
  gap: fluid-rem(0.5rem, 1.5rem);
  align-items: center;
}

.shareButton {
  max-width: 50%;
  margin-block-start: auto;
}
