.root {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  .price {
    &::before {
      content: "€";
    }
  }

  .startingPrice {
    text-decoration: line-through;
    opacity: 0.4;
  }

  .finalPrice {
    font-weight: 700;
  }
}

.orientationVertical {
  .priceContainer {
    flex-direction: column;
    gap: 0.25rem;
  }
}

.orientationHorizontal {
  .priceContainer {
    flex-direction: row;
  }
}

.priceContainer {
  display: flex;
  gap: 0.5rem;
}

.klarna {
  display: flex;
  width: fit-content;
  gap: 0.4rem;
  background-color: hsl(var(--color-neutral-300));
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.4);

  .translate {
    opacity: 0.5;
  }
}

.klarnaAlt {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.klarnaLogo {
  margin-inline-start: 0.25rem;
}

.fallbackPurchaseCTA {
  display: flex;
  gap: 0.25rem;
  margin: 0.25rem 0 0.5rem;
}
