@use "@/styles/index" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(var(--neutral-500));
  color: hsl(var(--black-500));
  padding: 0.5rem;
  border-radius: 1rem;
}

.media {
  height: auto;
  object-fit: cover;
  width: fit-content;
  border-radius: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.buttons {
  display: flex;
  gap: 0.38rem;
}

.button {
  border: 1px solid hsl(var(--black-500));
  opacity: 0.5;
  &:active,
  &:hover {
    opacity: 1;
    border: 1px solid hsl(var(--black-500));
  }
}

.description {
  @extend %small;
  opacity: 0.6;
}

.timeLeft {
  display: flex;
  gap: 0.5rem;
}

.time {
  @extend %caption;
}

.price {
  @extend %h6;
  font-weight: 700;
  line-height: 2rem;
}

.courseActions {
  display: flex;
  gap: 0.75rem 0.5rem;
  flex-wrap: wrap;
}
