.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageCount {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  button {
    width: 2.5rem;
    height: auto;
  }
}
