@use "@/styles/index" as *;

.root {
  @extend %page-container;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
}

.content {
  border: 1px solid hsl(var(--neutral-500) / 0.3);
  padding: fluid-rem(0.88rem, 0.88rem);

  .contentItem {
    padding: 2.12rem 1.88rem;

    &:not(:first-child) {
      border-top: 1px solid hsl(var(--neutral-500) / 0.3);
      margin-block-start: 0.75rem;
    }
  }
}
