@use "@/styles/_index" as *;

.root {
  @extend %container;
  --container-padding: #{fluid-rem(0.75rem, 1.875rem)};

  padding-inline: var(--container-padding);
  padding-block: fluid-rem(2.5rem, 5rem);
}

.footer {
  @extend %container;
  --container-padding: #{fluid-rem(0.75rem, 1.875rem)};

  padding-inline: var(--container-padding);
}

.header {
  @extend %container;
  --container-padding: #{fluid-rem(0.75rem, 1.875rem)};

  padding-inline: var(--container-padding);
  padding-block: fluid-rem(0.5rem, 1rem);
  position: sticky;
  top: 0;
  background: var(--color-sys-default);
  z-index: var(--z-header-menu);
}
