@use "@/styles/_index" as *;

.root {
  @extend %container;
  --page-padding-inline: #{fluid-rem(0.75rem, 3rem)};

  padding-inline: var(--page-padding-inline);
  padding-block: fluid-rem(2.5rem, 5rem);
  margin-block-end: 5rem;
}
