.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.tabButtonsHolder {
  display: flex;
  gap: 0.4rem;
  overflow-x: auto;
  max-width: 80%;
}

.tabButton {
  flex-shrink: 0;
  color: rgba(235, 236, 222, 0.6);
  border-color: rgba(235, 236, 222, 0.6);

  &:hover {
    color: black;
    background-color: hsl(var(--color-green-500));
  }

  &[data-active="true"] {
    color: black;
    background-color: hsl(var(--color-green-500));
  }
}

.contentContainer {
  display: grid;
  color: black;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  background-color: hsl(var(--color-neutral-500));
  border-radius: 1rem;
  padding: 3rem 0rem 3rem 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.statics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.staticsTitle {
  font-weight: 600;
}

.staticsBar {
  display: flex;
  justify-content: space-between;
  background-color: hsl(var(--color-neutral-200));
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.pages {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}

.card {
  min-width: 18rem;
}
