@use "@/styles/_breakpoints" as *;

.root {
  list-style-type: none;
  padding: 0;
  margin: 1.5rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: 0.8rem;

  @include media(sm) {
    grid-template-columns: 1fr;
  }
}
