.overlay {
  position: fixed;
  inset: 0;
  background: var(--color-sys-default);
}

.content {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  background: var(--color-sys-surface);
  color: var(--color-ink-default);
  z-index: var(--z-drawer);
}

.contentInner {
  padding: 0 2.25rem 1rem 2.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.25rem;
  position: sticky;
  top: 0;
}

.close {
  padding: 0.75rem;
}

.closeIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.handle {
  margin-block-start: 0.5rem;
}
