@use "@/styles/_functions" as *;

.root {
  display: flex;
  gap: 0.5rem;
  color: var(--color-sys-inverted);
  border-radius: 1rem;
  min-height: 22rem;
  padding-inline: fluid-rem(0rem, 5rem);
  gap: 8rem;

  &[data-media="right"] {
    flex-direction: row-reverse;
  }
}

.media {
  max-width: 20%;
  max-height: 22rem;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
