@use "./colors" as *;
@use "./settings" as *;

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }

  --container: #{$container}px;
  --transition-duration: 200ms;
  --border-color: hsl(var(--neutral-500) / 0.3);
}
