@use "./colors" as *;
@use "./settings" as *;

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}

[data-theme="dark"] {
  --color-ink-default: hsl(var(--color-neutral-500));
  // --color-ink-muted: hsl(var(--color-neutral-300));
  // --color-ink-primary: hsl(var(--color-blue-400));

  --color-sys-default: hsl(var(--color-black-500));
  --color-sys-surface: hsl(var(--color-neutral-700));
  --color-sys-border: hsl(var(--color-neutral-500) / 0.3);
}

[data-theme="light"] {
  --color-ink-default: hsl(var(--color-black-500));
  // --color-ink-muted: hsl(var(--color-neutral-700));
  // --color-ink-primary: hsl(var(--color-blue-600));

  --color-sys-default: hsl(var(--color-neutral-500));
  --color-sys-surface: hsl(var(--color-neutral-450));
  --color-sys-border: hsl(var(--color-black-500) / 0.3);
}
