@use "./colors" as *;
@use "./settings" as *;

:root {
  --z-preview-banner: 1000;
  --z-purchase-course-banner: 1000;
  --z-header-menu: 1001;

  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}

[data-theme="dark"] {
  --color-ink-default: hsl(var(--color-neutral-500));
  --color-ink-inverted: hsl(var(--color-black-500));
  --color-ink-muted: hsl(var(--color-neutral-500) / 0.6);
  --color-ink-debug: black;

  --color-sys-default: hsl(var(--color-black-500));
  --color-sys-accent: hsl(var(--color-green-500));
  --color-sys-surface: hsl(var(--color-black-450));
  --color-sys-surface-1: hsl(var(--color-black-400));
  --color-sys-surface-2: hsl(var(--color-black-300));
  --color-sys-surface-3: hsl(var(--color-black-200));
  --color-sys-border: hsl(var(--color-neutral-500));
  --color-sys-border-muted: hsl(var(--color-neutral-500) / 0.3);
  --color-sys-outline: hsl(var(--color-black-600));
  --color-sys-nav: hsl(var(--color-neutral-500));
  --color-sys-debug: orange;
}

[data-theme="light"] {
  --color-ink-default: hsl(var(--color-black-500));
  --color-ink-inverted: hsl(var(--color-neutral-500));
  --color-ink-muted: hsl(var(--color-black-500) / 0.6);
  --color-ink-debug: white;

  --color-sys-default: hsl(var(--color-neutral-500));
  --color-sys-accent: hsl(var(--color-black-500));
  --color-sys-surface: hsl(var(--color-neutral-450));
  --color-sys-surface-1: hsl(var(--color-neutral-400));
  --color-sys-surface-2: hsl(var(--color-neutral-300));
  --color-sys-surface-3: hsl(var(--color-neutral-200));
  --color-sys-border: hsl(var(--color-black-500));
  --color-sys-border-muted: hsl(var(--color-black-500) / 0.3);
  --color-sys-outline: hsl(var(--color-black-600));
  --color-sys-nav: hsl(var(--color-neutral-300));
  --color-sys-debug: orangered;
}
