@forward "./reset";
@forward "./variables";

:root {
  --color-body-text: hsl(var(--color-neutral-500));
  --color-body-bg: hsl(var(--color-black-500));
}

body {
  color: var(--color-body-text);
  background-color: var(--color-body-bg);
  font:
    400 1rem / 1.25 "aktiv-grotesk",
    sans-serif;
}
