@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;

.root {
  --color-border: hsl(var(--color-black-500));
  padding: 0.25rem;
  background: hsl(var(--color-neutral-500));
  border: 1px solid var(--color-border);
  transition-property: color, background, border, opacity;
  transition-duration: 200ms;

  &:hover {
    background: var(--color-border);
  }

  @include media(md) {
    .personName,
    .personRole {
      line-height: 1;
    }
  }
}

.content {
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--color-black-500));
  height: 100%;
  width: 100%;
}

.labelContainer {
  position: absolute;
  width: 100%;
}

.label {
  z-index: 1;
  padding: fluid-rem(0.33rem, 0.625rem);
  position: relative;
  text-align: center;
  min-height: 6.25rem;

  svg {
    color: var(--color-sys-default);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.personName {
  padding-inline: 1rem;
  padding-block-start: fluid-rem(0.5rem, 0.25rem);
}

.personRole {
  padding-inline: 1rem;
  padding-block-end: fluid-rem(0.5rem, 0.25rem);
}
