@use "@/styles/index" as *;

.root {
  --color-border: hsl(var(--color-black-500));
  padding: 0.25rem;
  background: var(--color-sys-default);
  border: 1px solid var(--color-border);
  width: fit-content;
  transition-property: color, background, border, opacity;
  transition-duration: 200ms;

  &:hover {
    --color-border: var(--color-sys-surface);
    background: var(--color-sys-surface);
  }
}

.content {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--color-black-500));
}

.media {
  object-fit: cover;
}

.labelContainer {
  position: absolute;
  width: 100%;
}

.label {
  --spacing: 0.625rem;
  z-index: 1;
  padding: calc(var(--spacing) + 0.5rem) var(--spacing);
  position: relative;
  text-align: center;

  svg {
    color: var(--color-sys-default);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}
