.root {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.mediaRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.media {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.slider {
  width: 100%;
  cursor: pointer;
}
