.root {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.12rem;
}

.mediaRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.media {
  width: fit-content;
  height: auto;
  object-fit: contain;
}

.slider {
  max-width: 100%;
}
