@use "@/styles/_breakpoints" as *;
@use "@/styles/_functions" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: fluid-rem(1.5rem, 2rem);
  width: 100%;
  --card-height: 17.8125rem;
  --card-width: 14.85rem;

  @include media(md) {
    --card-height: 11rem;
    --card-width: 9.25rem;
  }
}

.header {
  all: unset;
  display: grid;
  gap: reverse-fluid-rem(1.5rem, 0.5rem);
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  align-items: end;
}

.headerContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filterButton {
  text-transform: uppercase;
}

.filterTabs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  height: fit-content;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  gap: 0.625rem;
}

.card {
  height: var(--card-height);
}
