.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  background: hsl(var(--color-black-400) / 0.08);
  height: 100%;

  &:hover {
    outline: 2px solid var(--color-sys-outline);
  }

  &:active {
    outline-color: hsl(var(--color-black-500));
  }
}

.details {
  display: flex;
  gap: 0.5rem;
}

.statLabel {
  svg {
    color: currentColor;
  }
}
