@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;

.card {
  background-color: var(--color-sys-surface);
  color: var(--color-ink-default);
  border-radius: 0.75rem;
  border: 0.5rem solid var(--color-sys-surface);

  &:hover {
    outline: 2px solid var(--color-sys-border-muted);
  }

  &:active {
    outline-color: var(--color-sys-border);
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-sys-default);
  padding: 2rem;
  border-radius: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem 1rem 0.75rem 1rem;
}
