/* TODO: Apply justify amd text-alignment depending on icon presence */

.root {
  border: none;
  transition-property: color, background, border;
  transition-duration: 200ms;

  background: var(--color-bg);
  color: var(--color-text);

  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  border: 1px solid var(--color-border);
  width: fit-content;

  &:disabled {
    cursor: not-allowed;
  }

  &:active {
    outline: 1px solid var(--color-accent);
  }
}

.colorSchemeGreen {
  --color-primary: hsl(var(--color-green-500));
  --color-secondary: hsl(var(--color-black-500));
  --color-accent: hsl(var(--color-green-400));
  --color-disabled-bg: hsl(var(--color-green-100));
  --color-disabled-text: hsl(var(--color-black-300));
}

.colorSchemeWhite {
  --color-primary: hsl(var(--color-neutral-500));
  --color-secondary: hsl(var(--color-black-500));
  --color-accent: hsl(var(--color-black-400));
  --color-disabled-bg: hsl(var(--color-neutral-300));
  --color-disabled-text: hsl(var(--color-black-300));
}

.colorSchemeBlack {
  --color-primary: hsl(var(--color-black-500));
  --color-secondary: hsl(var(--color-neutral-500));
  --color-accent: hsl(var(--color-black-450));
  --color-disabled-bg: hsl(var(--color-black-200));
  --color-disabled-text: hsl(var(--color-black-300));
}

.sizeXSmall {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.0175rem;
  padding: 0.25rem 0.75rem;
}

.sizeSmall {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.0175rem;
  padding: 0.625rem 0.75rem;
}

.sizeMedium {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
  padding: 0.75rem 0.875rem;
}

.sizeLarge {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.0125rem;
  padding: 1rem 1.25rem;
}

.featureIsFullWidth {
  width: 100%;
}

.featureIsRounded {
  padding-inline: 1.5rem;
  border-radius: 1.5rem;
}

.variantSolid {
  --color-bg: var(--color-primary);
  --color-text: var(--color-secondary);
  --color-border: var(--color-primary);

  &:not(:disabled):hover {
    --color-bg: var(--color-accent);
    --color-border: var(--color-accent);
  }

  &:disabled {
    --color-bg: var(--color-disabled-bg);
    --color-border: var(--color-disabled-bg);
    --color-text: var(--color-disabled-text);
  }
}

.variantOutlined {
  --color-bg: transparent;
  --color-text: var(--color-primary);
  --color-border: var(--color-primary);

  &:not(:disabled):hover {
    --color-border: var(--color-accent);
    --color-text: var(--color-accent);
  }

  &:disabled {
    --color-border: var(--color-disabled-text);
    --color-text: var(--color-disabled-text);
  }
}

.variantGhost {
  --color-bg: transparent;
  --color-text: var(--color-primary);
  --color-border: transparent;

  &:not(:disabled):hover {
    --color-text: var(--color-accent);
  }

  &:disabled {
    --color-text: var(--color-disabled-text);
  }

  &:active {
    --color-bg: var(--color-accent);
    --color-text: var(--color-secondary);
  }
}

.variantUnderlined {
  --color-bg: transparent;
  --color-text: var(--color-primary);

  border: none;
  padding: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--color-text);
  position: relative;

  &:after {
    content: "";
    border-bottom: 2px solid transparent;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
  }

  &:not(:disabled):hover {
    border-color: transparent;
    --color-text: var(--color-accent);
  }

  &:disabled {
    --color-text: var(--color-disabled-text);
  }

  &:active {
    outline: none;
    &:after {
      border-color: var(--color-text);
    }
  }
}

.variantDecorative {
  --color-bg: hsl(var(--color-green-500));
  --color-text: hsl(var(--color-black-500));
  border: 1px solid hsl(var(--color-black-500));
  border-radius: 1rem;

  &:not(:disabled):hover {
    --color-bg: hsl(var(--color-green-500));
    --color-text: hsl(var(--color-black-500));
  }

  &:disabled {
    --color-bg: var(--color-disabled-bg);
    --color-text: var(--color-disabled-text);
  }

  &:active {
    --color-bg: hsl(var(--color-green-500));
  }
}
