/* TODO: Apply justify amd text-alignment depending on icon presence */

.root {
  border: none;
  transition-property: color, background, border, opacity;
  transition-duration: 200ms;
  white-space: nowrap;

  background: var(--color-bg);
  color: var(--color-text);

  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  border: 1px solid var(--color-border);
  width: fit-content;

  &:not(:disabled):hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &:not(:disabled):active {
    outline: 1px solid var(--color-primary);
  }
}

.colorSchemeGreen {
  --color-primary: hsl(var(--color-green-500));
  --color-secondary: hsl(var(--color-black-500));
}

.colorSchemeWhite {
  --color-primary: hsl(var(--color-neutral-500));
  --color-secondary: hsl(var(--color-black-500));
}

.colorSchemeBlack {
  --color-primary: hsl(var(--color-black-500));
  --color-secondary: hsl(var(--color-neutral-500));
}

.colorSchemeSurface {
  --color-primary: var(--color-sys-surface);
  --color-secondary: var(--color-ink-default);
}

.sizeXSmall {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.0175rem;
  padding: 0.25rem 0.75rem;
}

.sizeSmall {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.0175rem;
  padding: 0.625rem 0.75rem;
}

.sizeMedium {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
  padding: 0.75rem 0.875rem;
}

.sizeLarge {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.0125rem;
  padding: 1rem 1.25rem;
}

.featureIsFullWidth {
  width: 100%;
}

.featureIsRounded {
  padding-inline: 1.5rem;
  border-radius: 1.5rem;
}

.variantSolid {
  --color-bg: var(--color-primary);
  --color-text: var(--color-secondary);
  --color-border: var(--color-primary);
}

.variantSolid.colorSchemeGreen {
  --color-border: hsl(var(--color-black-500));
}

.variantOutlined {
  --color-bg: transparent;
  --color-text: var(--color-primary);
  --color-border: var(--color-primary);
}

.variantGhost {
  --color-bg: transparent;
  --color-text: var(--color-primary);
  --color-border: transparent;

  &:active {
    --color-border: var(--color-primary);
  }
}

.variantUnderlined {
  --color-bg: transparent;
  --color-text: var(--color-primary);

  border: none;
  padding: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--color-text);
  position: relative;

  &:after {
    content: "";
    border-bottom: 2px solid transparent;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
  }

  &:not(:disabled):hover {
    border-color: transparent;
  }

  &:not(:disabled):active {
    outline: none;
    &:after {
      border-color: var(--color-text);
    }
  }
}

.variantDecorative {
  --color-bg: hsl(var(--color-green-500));
  --color-text: hsl(var(--color-black-500));
  border: 1px solid hsl(var(--color-black-500));
  border-radius: 1rem;

  &:not(:disabled):hover {
    --color-bg: hsl(var(--color-green-500));
    --color-text: hsl(var(--color-black-500));
  }

  &:active {
    --color-bg: hsl(var(--color-green-500));
  }
}

.variantMenuItem {
  display: flex;
  align-items: center;
  justify-content: unset;
  padding-inline: 0;
  outline: none;
}

.featureIsLoading {
  position: relative;
  pointer-events: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    animation: glow 1.5s infinite ease-in-out;
    border-radius: 0.3125rem;
  }
}

@keyframes glow {
  0% {
    outline: 2px solid var(--color-primary);
  }
  50% {
    outline: 2px solid var(--color-sys-accent);
  }
  100% {
    outline: 2px solid var(--color-primary);
  }
}
