@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;

.root {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 1rem;
  color: hsl(var(--color-neutral-500));

  @include media(md) {
    display: flex;
    flex-direction: column-reverse;

    .content {
      flex-direction: column;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--color-black-450));
  padding: fluid-rem(0.5rem, 2.5rem, ("md", "xxl"));
  border-radius: 1rem;
  gap: fluid-rem(0.5rem, 2rem, ("md", "xxl"));
}

.navigationButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding-block: 1rem;
  padding-left: 1.75rem;
  border-left: 2px solid rgba(235, 236, 222, 0.24);

  &[data-active="true"] {
    border-color: hsl(var(--color-green-500));
    color: hsl(var(--color-green-500));
  }
}

.content {
  display: flex;
  background-color: var(--color-sys-surface);
  align-items: center;
  border-radius: 1rem;
  gap: fluid-rem(1.5rem, 3rem, ("md", "xxl"));
  padding: fluid-rem(1rem, 3rem, ("md", "xxl"));
}

.contentText {
  padding-inline-start: fluid-rem(0rem, 3rem, ("md", "xxl"));
}

.contentMedia {
  img {
    object-fit: contain;
  }
}

.title {
  color: hsl(var(--color-green-500));
  margin-bottom: 1rem;
}
