.root {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 1rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--color-black-450));
  padding: 2.5rem;
  border-radius: 1rem;
  gap: 2rem;
}

.navigationButton {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  padding-block: 1rem;
  padding-left: 1.75rem;
  border-left: 2px solid rgba(235, 236, 222, 0.24);

  &[data-active="true"] {
    border-color: hsl(var(--color-green-500));
    color: hsl(var(--color-green-500));
  }
}

.content {
  display: grid;
  background-color: hsl(var(--color-black-450));
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  border-radius: 1rem;
  gap: 1rem;
  padding-left: 3rem;
}

.title {
  color: hsl(var(--color-green-500));
  margin-bottom: 1rem;
}

.border {
  margin-inline: auto;
  border: 2px dashed hsl(var(--color-black-400));
  width: 60%;
  height: 75%;
  border-radius: 0.5rem;
}
