@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;
@use "@/styles/_helpers" as *;

.root {
  @extend %margin-container;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 1rem;
  color: hsl(var(--color-neutral-500));

  @include media(md) {
    display: flex;
    flex-direction: column-reverse;

    .content {
      flex-direction: column;
    }
  }

  &[data-theme="light"] {
    color: hsl(var(--color-black-500));

    .navigation {
      background-color: hsl(var(--color-neutral-200));
    }

    .navigationButton {
      color: hsl(var(--color-black-500));
      border-left-color: hsl(var(--color-black-500) / 0.4);
      opacity: 0.4;
      &[data-active="true"] {
        border-color: hsl(var(--color-black-500));
        opacity: 1;
      }
    }

    .content {
      background-color: hsl(var(--color-neutral-200));
    }

    .title {
      color: hsl(var(--color-black-500));
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--color-black-450));
  padding: fluid-rem(0.5rem, 2.5rem, ("md", "xxl"));
  border-radius: 1rem;
  gap: fluid-rem(0.5rem, 2rem, ("md", "xxl"));
}

.navigationButton {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
  padding-block: 1rem;
  padding-inline-start: fluid-rem(0.5rem, 1.75rem, ("md", "xxl"));
  border-left: 2px solid rgba(235, 236, 222, 0.24);

  &[data-active="true"] {
    border-color: hsl(var(--color-green-500));
    color: hsl(var(--color-green-500));
  }

  svg {
    height: 1.25rem;
    width: 1.25rem;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 15rem;
  background-color: var(--color-sys-surface);
  align-items: center;
  border-radius: 1rem;
  gap: fluid-rem(1.5rem, 3rem, ("md", "xxl"));
  padding: fluid-rem(1rem, 3rem, ("md", "xxl"));
}

.contentText {
  padding-inline-start: fluid-rem(0rem, 3rem, ("md", "xxl"));
}

.title {
  color: hsl(var(--color-green-500));
  margin-bottom: 1rem;
}
