@use "@/styles/_index" as *;

.root {
  --bg-color: hsl(var(--color-neutral-300));
  --border-line: hsl(var(--color-neutral-500));
  --txt-color: hsl(var(--color-black-500));
  display: flex;
  flex-direction: column;
  background-color: v(bg-color);
  border: 0.5rem solid v(border-line);
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: 18rem;

  &[data-color="Dark"] {
    --bg-color: hsl(var(--color-black-450));
    --border-line: hsl(var(--color-black-500));
    --txt-color: hsl((var(--neutral-500)));
  }

  &[data-color="Green"] {
    --bg-color: hsl(var(--color-green-100));
    --border-line: hsl(var(--color-green-500));
  }

  &[data-size="normal"] {
    max-width: 21rem;
  }
}

.media {
  position: relative;
  width: 100%;
  height: 11.6875rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.title {
  line-height: 1.5rem;
}

.description {
  opacity: 0.6;
}

.stats {
  display: flex;
  gap: 0.5rem;
}

.statLabel {
  svg {
    color: currentColor;
  }
}

.prices {
  margin-block-start: fluid-rem(0.5rem, 2rem);
}
