@use "@/styles/_index" as *;

.root {
  display: flex;
  flex-direction: column;
  background-color: var(--color-sys-surface-1);
  border: 0.5rem solid var(--color-sys-surface-1);
  color: var(--color-ink-default);
  border-radius: 1rem;
}

.normal {
  min-width: 18rem;
}

.wide {
  min-width: 21rem;
}

.green {
  background-color: hsl(var(--color-green-100));
  border-color: hsl(var(--color-green-500));
}

.dark {
  background-color: hsl(var(--color-black-450));
  border-color: hsl(var(--color-black-500));
  color: hsl((var(--color-neutral-500)));
}

.media {
  position: relative;
  width: 100%;
  height: 11.6875rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  flex: 1;
}

.title {
  line-height: 1.5rem;
}

.description {
  opacity: 0.6;
}

.stats {
  display: flex;
  gap: 0.5rem;
}

.statLabel {
  svg {
    color: currentColor;
  }
}

.prices {
  margin-block-start: auto;
}
