@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;

.card {
  display: flex;
  background-color: var(--color-sys-surface);
  color: var(--color-ink-default);
  padding: 1rem fluid-rem(0.75rem, 1rem);
  border-radius: 0.75rem;
  gap: 1rem;

  @include media(lg) {
    flex-direction: column;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
