@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  gap: 3.5rem;

  @include media(md) {
    grid-template-columns: 1fr;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.viewAllButton {
  margin-inline: auto;
}
