@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;
@use "@/styles/_helpers" as *;

.root {
  @extend %margin-container;
  display: flex;
  flex-direction: column;
  gap: fluid-rem(0.75rem, 3rem);
}

.content {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  gap: fluid-rem(1rem, 3.5rem);

  @include media(md) {
    gap: 4rem;
    grid-template-columns: 1fr;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.viewAllButton {
  margin-inline: auto;
}
