@use "@/styles/_functions" as *;

.root {
  padding-inline: fluid-rem(0rem, 3rem, ("md", "xxl"));
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: reverse-fluid-rem(0.75rem, 0rem);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
  gap: 0.5rem;
}
