@use "@/styles/index" as *;

.card {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  position: relative;
  overflow: hidden;
  border-radius: 0.6rem;
  border: 3.5px solid hsl(var(--color-neutral-500));
  outline: 1px solid hsl(var(--color-black-500));
}

.media {
  width: fit-content;
  height: auto;
  object-fit: contain;
  min-width: 12rem;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(var(--color-neutral-500));
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  width: 90%;
  gap: 0.2rem;
  border: 1px solid hsl(var(--color-black-500));
  padding: 0.3rem;
}

.job {
  font-size: 0.625rem;
}
