.root {
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: 0.5rem;
}

.wrapper {
  background-color: hsl(var(--color-black-450));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
