@use "@/styles/_functions" as *;
@use "@/styles/_helpers" as *;

.root {
  display: grid;
  grid-template-columns: 1fr;
  gap: fluid-rem(1.5rem, 8rem);
}

.header {
  @extend %margin-container;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.breadcrumbs {
  border: 1px solid var(--color-sys-border-muted);
  width: fit-content;
}
