@use "@/styles/index" as *;

.root {
  background-color: var(--color-sys-surface);
  color: var(--color-ink-default);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

.svgWrapper {
  & > svg > path {
    fill: var(--color-sys-accent);
  }
}
