@use "@/styles/index" as *;

.root {
  background-color: hsl(var(--color-black-450));
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

.svgWrapper {
  & > svg > path {
    fill: hsl(var(--color-green-500));
  }
}
