@use "@/styles/_functions" as *;

.root {
  background: hsl(var(--color-neutral-500));
  color: hsl(var(--color-black-500));
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  gap: 3.5rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.viewAllButton {
  margin-inline: auto;
}
