@use "@/styles/index" as *;

.card {
  padding: 0.25rem;
  max-width: 15rem;
  background: hsl(var(--color-neutral-500));
}

.content {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  position: relative;
  overflow: hidden;
  border-radius: 0.6rem;
  border: 1px solid hsl(var(--color-black-500));
  width: 100%;
}

.media {
  width: 100%;
  height: auto;
  object-fit: contain;
  min-width: 12rem;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translate(-50%, -5%);
  color: black;
  background-color: hsl(var(--color-neutral-500));
  border: 1px solid black;
  bottom: 0;
  width: 90%;
  padding: 0.3rem;
}

.labelText {
  line-height: 1.3;
}
