.root {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: 0.5rem;
}
