@use "@/styles/_functions" as *;

.content {
  border-radius: 1rem;
  border: 1px solid var(--color-sys-border);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  background: var(--color-sys-accent);
}

.contentItems {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-sys-border);
  background: var(--color-sys-surface-1);
}
