.root {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;

  &:hover {
    opacity: 0.8;
  }
}

.checkbox {
  all: unset;

  &[data-state="checked"] {
    .iconChecked {
      display: block;
      color: var(--color-sys-accent);

      [data-icon-path="inner-path"] {
        fill: transparent;
      }
    }
  }

  &[data-state="unchecked"] {
    .iconUnchecked {
      display: block;
    }
  }
}

.icon {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}

.label {
  flex: 1;
}
