@use "@/styles/_breakpoints" as *;
@use "@/styles/_helpers" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grid {
  --gap: 0.5rem;
  --total-gap-width: calc(var(--gap) * (var(--column-count) - 1));
  --column-width: calc(
    (
        var(--container-width) - (var(--padding-inline) * 2) - var(
            --total-gap-width
          )
      ) / var(--column-count)
  );

  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--column-width), 100%), 1fr)
  );
}

.hasFeatured {
  &:first-child {
    grid-column: 1 / -1;
  }
}

.filterButton {
  text-transform: uppercase;
}

.filterTabs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  height: fit-content;
}

.filterSelect {
  width: 100%;
  overflow: hidden;
}
