@use "@/styles/_settings" as *;
@use "@/styles/_functions" as *;

.root {
  max-width: var(--container-width);
  width: 100%;
  color: var(--color-ink-default);
  background: var(--color-sys-default);
  margin-inline: auto;
}

.content {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: fluid-rem(0.25rem, 0.75rem, ("md", "xxl"));
}

.footer {
  display: flex;
  gap: 0.5rem;
}

.alignmentCentered {
  .header {
    text-align: center;
    max-width: min(80ch, 100%);
    margin-inline: auto;
  }

  .headerAlt {
    flex-direction: column;
  }

  .footer {
    justify-content: center;
  }
}

.alignmentLeft {
  .header {
    text-align: left;
    padding-inline-start: 1.5rem;
  }

  .footer {
    justify-content: flex-start;
  }
}

.sizeNarrow {
  --container-width: calc(48rem - (var(--container-padding) * 2));
}

.sizeWide {
  --container-width: calc(80rem - (var(--container-padding) * 2));
}

.sizeFull {
  --container-width: calc(90rem - (var(--container-padding) * 2));
}

.compositeAlt,
.compositeDefault,
.sectionAlt,
.sectionDefault {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.headerAlt {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: fluid-rem(0.25rem, 0.75rem, ("md", "xxl"));
  width: 100%;
}
