@use "@/styles/_settings" as *;
@use "@/styles/_functions" as *;
@use "@/styles/_helpers" as *;

.root {
  @extend %margin-container;
  color: var(--color-ink-default);
  background: var(--color-sys-default);
}

.content {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: fluid-rem(0.25rem, 0.75rem, ("md", "xxl"));
}

.footer {
  display: flex;
  gap: 0.5rem;
}

.alignmentCentered {
  .header {
    text-align: center;
    max-width: min(80ch, 100%);
    margin-inline: auto;
  }

  .headerAlt {
    flex-direction: column;
  }

  .footer {
    justify-content: center;
  }
}

.alignmentLeft {
  .header {
    text-align: left;
  }

  .footer {
    justify-content: flex-start;
  }
}

.sizeNarrow {
  --container-width: 48rem;
}

.sizeWide {
  --container-width: 80rem;
}

.sizeFull {
  --container-width: 90rem;
}

.compositeAlt,
.compositeDefault,
.sectionAlt,
.sectionDefault {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.headerAlt {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: fluid-rem(0.25rem, 0.75rem, ("md", "xxl"));
  width: 100%;
}
