@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;
@use "@/styles/_settings" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  background: var(--color-sys-default);
  color: var(--color-ink-default);
  border: 1rem solid var(--color-sys-default);
}

.contentWrapper {
  padding-inline: fluid-rem(0rem, 1rem, ("md", "xxl"));
  padding-block-end: fluid-rem(0.25rem, 1.25rem);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.buttons {
  display: flex;
  gap: 0.38rem;
}

.description {
  opacity: 0.6;
}

.timeLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer {
  & > *:first-child {
    grid-column: 1 / -1;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem 0.5rem;
}

.prices {
  margin-block: fluid-rem(0.5rem, 2rem);
}

.banner {
  padding: 0.75rem;
  position: fixed;
  left: 0;
  z-index: var(--z-purchase-course-banner);
  background: var(--color-sys-default);
  width: 100%;
  border-start-start-radius: 0.75rem;
  border-start-end-radius: 0.75rem;
  bottom: -1000px;
  transition: bottom 0.4s ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.75rem;

  &.visible {
    bottom: 0;
  }
}
