@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;

.root {
  border-radius: 0.5rem;
  background: var(--color-sys-default);
  color: var(--color-ink-default);
  border: 1rem solid var(--color-sys-default);
}

.contentWrapper {
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.buttons {
  display: flex;
  gap: 0.38rem;
}

.description {
  opacity: 0.6;
}

.timeLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer {
  & > *:first-child {
    grid-column: 1 / -1;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem 0.5rem;
}

.prices {
  margin-block: fluid-rem(0.5rem, 2rem);
}
