.root {
  --icon-size: 1.5rem;
  --icon-gap: 1.12rem;
}

.item {
  overflow: hidden;
  border-inline-start: 1px solid var(--color-sys-border-muted);

  &[data-state="open"] {
    border-color: var(--color-sys-accent);
  }
}

.trigger {
  all: unset;
  color: var(--color-ink-muted);
  gap: var(--icon-gap);
  padding: 0.62rem 1.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  width: 100%;
  box-sizing: border-box;

  &:hover {
    background: var(--color-sys-surface);
  }

  &[data-state="open"] {
    color: var(--color-sys-accent);
  }
}

.topNotes {
  margin-inline-start: auto;
}

.icon {
  flex-shrink: 0;

  .trigger[data-state="open"] & {
    svg {
      fill: var(--color-sys-accent);
      color: var(--color-sys-accent);
    }
  }

  svg {
    color: var(--color-ink-muted);
    height: var(--icon-size);
    width: var(--icon-size);
  }

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    p {
      position: absolute;
    }
  }

  .arrow {
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
    transform: rotate(180deg);

    .trigger[data-state="open"] & {
      transform: unset;
    }
  }
}

.content {
  overflow: hidden;

  &[data-state="open"] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  &[data-state="closed"] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.44rem;
  padding-inline: calc(1.75rem + var(--icon-size) + var(--icon-gap));
  padding-block: 1rem 1.62rem;

  .columnTitle {
    font-weight: 700;
    color: var(--color-sys-accent);
  }

  .contentText {
    grid-column: 1 / -1;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
