.root {
  padding: 2rem 1.88rem;
  border-inline-start: 1px solid hsl(var(--color-black-500));
  display: flex;
  max-width: 40rem;
  overflow-y: auto;
  max-height: calc(100vh - var(--header-height));

  &[data-state-open="false"] {
    display: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-block-start: 1.5rem;

  .column {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(var(--cards-count), 1fr);
    gap: 0.5rem;
  }
}
