.root {
  padding: 2rem 1.88rem;
  border-inline-start: 1px solid hsl(var(--color-black-500));
  display: flex;
  max-width: 40rem;

  &[data-state-open="false"] {
    display: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-block-start: 1.5rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
