.container {
  display: flex;
  gap: 0.5rem;
}

.workearly {
  font-weight: 800;
}

.startNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.buttonsContainer {
  position: relative;
}

.navigation {
  margin-top: 1rem;
  background-color: var(--color-ink-default);
  color: var(--color-ink-inverted);
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-sys-surface);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: flex;
}

.menuMainItem {
  display: flex;
}

.menuTitle {
  margin-bottom: 0.5rem;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  padding-block: 0.5rem;

  &:has(svg) {
    cursor: pointer;
  }
}

.mainMenu {
  min-width: 19rem;
}

.submenu {
  min-width: 19rem;
  padding-left: 2rem;
}

.menuHeader {
  display: flex;
  flex-direction: column;
}

.submenuAdanced {
  min-width: 40rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .menuTitle {
    font-weight: 500;
  }
}

.menuFooter {
  display: flex;
  gap: 2rem;
}

.cardOne,
.cardTwo {
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: 1px solid var(--color-sys-surface);
  background: rgba(114, 114, 114, 0.08);
  min-width: 17rem;
  min-height: 7rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  width: 3.5rem;
  height: 3.5rem;
  display: block;
  background: rgba(114, 114, 114, 0.2);
  border-radius: 1rem;
}

.cardOne {
  .details {
    display: flex;
    gap: 0.5rem;
  }
}

.students {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTwo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
