@use "@/styles/_index" as *;

.root {
  @extend %padding-container;
  padding-block: fluid-rem(0.5rem, 1rem);
  position: sticky;
  top: 0;
  background: var(--color-sys-default);
  z-index: var(--z-header-menu);
}
