.group {
  &.groupHasLabel {
    padding-block: 0.88rem 1.38rem;
  }
}

.contentWrapper {
  &[data-state-open="false"] {
    display: none;
  }
}

.content {
  border: 1px solid hsl(var(--color-black-500));
  border-radius: 0.5rem;
  color: hsl(var(--color-black-500));
  background: var(--color-sys-nav);
  position: relative;
  z-index: var(--z-header-menu);
  box-sizing: border-box;
  display: flex;
  width: fit-content;
}

.contentInner {
  padding: 1.12rem;
  flex: 1;
  flex-shrink: 0;
  width: 20rem;
}

.referenceCard {
  width: 10rem;
  height: 10rem;
}

.decorativeReference {
  padding: 2rem;
}

.linkItem {
  &:not(:disabled):hover {
    &::before {
      content: "•";
    }
  }

  &:not(:disabled):active {
    outline-color: transparent;
  }
}

.label {
  margin-block-end: 0.5rem;
  padding-inline: 1.12rem;
}
