.item {
  padding-inline: 0.5rem;
  padding-block: 0.375rem;

  &:not(:disabled):hover {
    &::before {
      content: "•";
    }
  }

  &:not(:disabled):active {
    outline-color: transparent;
  }
}

.itemChevron {
  width: 1rem;
  height: 1rem;
  margin-inline-start: auto;
}
