.root {
  display: flex;
  max-width: 40rem;
  border-inline-start: 1px solid hsl(var(--color-black-500));
  overflow-y: auto;
  max-height: calc(100vh - var(--header-height));

  &[data-state-open="false"] {
    display: none;
  }
}

.content {
  padding: 2rem 1.88rem;
}

.decorativeReference {
  padding: 2rem;
}

.label {
  margin-block-end: 0.5rem;
}

.item {
  padding-inline: 0.5rem;
}
