@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;
@use "@/styles/_helpers" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.breadcrumbs {
  border: none;
}

.hero {
  @extend %margin-container;
  border-radius: 1rem;
  border: 1px solid var(--color-sys-border-muted);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  background: hsl(var(--color-green-500));
}

.heroContent {
  --spacing: #{fluid-rem(0rem, 2.5rem, ("md", "xxl"))};
  padding-inline-end: var(--spacing);
  padding-block-end: var(--spacing);
}
