@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;

.root {
  display: flex;
  flex-direction: column;
  background-color: var(--color-sys-default);
  color: var(--color-ink-default);
  border: 0.5rem solid var(--color-sys-default);
  border-radius: 1rem;

  &:hover {
    outline: 2px solid var(--color-sys-border-muted);
  }

  &:active {
    outline-color: var(--color-sys-border);
  }
}

.media {
  border: 1px solid currentColor;
  border-radius: 0.5rem;
}

.content {
  padding: 1rem fluid-rem(0.5rem, 1rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
  gap: 0.2rem;

  .tag {
    border: 1px solid currentColor;
    border-radius: 0.125rem;
    padding: 0.25rem;
    text-transform: uppercase;
  }
}
