.root {
  display: flex;
}

.mediaContainer {
  position: relative;
  aspect-ratio: var(--aspect-ratio);
  height: var(--height);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  video {
    border-radius: 0.5rem;
  }
}
