.card {
  border: 1px solid var(--color-sys-border);
  padding: 0.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

.content {
  border: 1px solid var(--color-sys-border);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mediaContainer {
  background-color: hsl(var(--color-green-500));
  padding: 1.8rem 2.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.details {
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--color-black-500));
  color: hsl(var(--color-neutral-500));
  gap: 1.4rem;
  padding: 1rem;
}

.tags {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.tag {
  border: 1px solid hsl(var(--color-green-500));
  color: hsl(var(--color-green-500));
  padding: 0.15rem;
}
.title {
  color: hsl(var(--color-green-500));
}
