.root {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 3.5rem;
}

.backButton {
  height: fit-content;
  margin: 0.375rem 1.25rem;
}

.article {
  display: flex;
  background: var(--color-sys-surface);
  border: 1px solid var(--color-sys-border);
  padding: 0.5rem;
}

.personCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textContainer {
  padding: 2.5rem 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.885rem;
}

.cardTitle {
  text-align: center;
  background: var(--color-sys-accent);
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--color-sys-border);
}

.cardContent {
  background-color: var(--color-sys-default);
  border: 1px solid var(--color-sys-border);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cardMedia {
  border: 1px solid var(--color-sys-border);
  border-radius: 0.67338rem;
  padding: 0.225rem;

  img {
    object-fit: cover;
    border-radius: 0.45rem;
  }
}

.tagsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.tag {
  border-color: var(--color-sys-border-muted);
}
