.root {
  color: black;
  display: flex;
  background-color: hsl(var(--color-neutral-500));
  border-radius: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
}

.media {
  flex-shrink: 0;
  position: relative;
  width: 42rem;
  height: 32rem;

  img {
    object-fit: contain;
    object-position: right bottom;
    border-start-end-radius: 1rem;
    border-end-end-radius: 1rem;
  }
}
