@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;
@use "@/styles/_helpers" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.agree {
  margin-block: 1.44rem;
}
