@use "@/styles/_helpers" as *;
@use "@/styles/_breakpoints" as *;
@use "@/styles/_functions" as *;
@use "@/styles/_settings" as *;

.root {
  padding: 3rem 3.2rem;
  border-radius: 1rem 1rem 0rem 0rem;
  color: hsl(var(--color-black-500));
  background: var(--color-sys-nav);

  @include media(md) {
    .header {
      flex-direction: column;
    }

    .columnOne {
      max-width: unset;
      gap: 3.5rem;
      margin-bottom: 3.5rem;
    }

    .logo {
      width: unset;
    }

    .navgation {
      flex-direction: column;
    }

    .columnTwo {
      .links {
        grid-template-rows: unset;
        grid-auto-flow: unset;
      }
    }

    .footer {
      flex-direction: column;
    }

    .socialMedia {
      justify-content: flex-start;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.columnOne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .title {
    font-weight: 800;
  }

  .bottom {
    margin-top: auto;
  }
}

.google {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.starsImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navgation {
  display: flex;
  gap: 5rem;
}

.columnTwo,
.columnThree {
  .title {
    margin-bottom: 1.5rem;
  }

  .links {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    column-gap: 2.5rem;
  }

  .link {
    padding-inline: 0;
    background: none;
    border: none;
  }
}

.footer {
  padding-block: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  .link {
    padding: 0rem;
    background: none;
    border: none;
  }
}

.socialMedia {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.trademark {
  vertical-align: baseline;
}

.details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2.5rem;
  padding-block: 1.5rem;
  border-block: 1px solid rgba(0, 0, 0, 0.2);
}

.detailsBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.detailsTitle {
  opacity: 0.6;
}
