.root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background: var(--color-background);

  html[data-theme="light"] & {
    background: hsl(var(--color-black-500));
  }

  html[data-theme="dark"] & {
    background: hsl(var(--color-neutral-500));
  }
}
