.root {
  position: relative;

  &:hover {
    & > .children {
      outline-color: var(--color-sys-debug);
    }

    & > .panel {
      visibility: visible;
    }
  }
}

.children {
  outline: 1px dashed transparent;
}

.panel {
  padding-block: 0.2rem;
  width: 100%;
  top: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  gap: 0.2rem;
}

.action {
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 0.25rem;
  background: var(--color-sys-debug);
  color: var(--color-ink-debug);
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;

  &:hover {
    opacity: 0.8;
  }
}
