@use "@/styles/_functions" as *;
@use "@/styles/_breakpoints" as *;

.root {
  color: var(--color-ink-default);
  min-height: 37rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: fluid-rem(1.8rem, 3rem) fluid-rem(1.8rem, 4.25rem);
  overflow: hidden;
  gap: 3rem;
  background: transparent;

  @include media(md) {
    justify-content: flex-end;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: min(48rem, 100%);
}

.actions {
  display: flex;
  gap: 0.5rem;
}
